.container-list {
    width: 100%;
    position: relative;

    @media(min-width:992px) {
        width: 50%;
    }
}

.haeder-filter{
    padding: 40px 0 20px;
}



.buscador {
    input {
        padding: 12px 40px 12px 16px;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: rgb(3, 15, 6);
        border:none;
        outline: none;
        color:#fff;
        transition: all ease .2s;
        width: 100%;
        &:focus{
            width: 260px;
        }
    
    }
    .btn-search{
        width: 30px;
        height: 30px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-left: -35px;
        i{
            color:#fff;
            font-size: 1rem;
        }
    }
    &:hover{
        input{
            width: 260px;
        }
    }
}

.options-filter{
    .btn-drop{
        background-color:rgb(3, 15, 6);
        color:#fff;
        border:none;
        outline: 0;
        border-radius: 5px;
        padding: 8px 12px;
        box-sizing: border-box;
        cursor: pointer;
    }
}

.content-submenu{
    position: relative
}

.submenu-filter{
    position: absolute; 
    top: 90px;
    background-color: rgb(3, 15, 6);
    z-index: 1;
    border-radius: 5px;
    ul li{
        padding: 10px;
        border-bottom: 1px solid rgba(255,255,255,.1);
        color: #fff;
        gap: 10px;
        transition: all ease .2s;
        &:hover{
            background-color: rgba(0,0,0,.5);
        }
        span{
            font-size: .9rem;
        }
    }
}